.App {
  text-align: center;
  background-color: white;
 }
  
 .App-logo {
  height: 40vmin;
  pointer-events: none;
 }
 .reviewPosting {
  width: 1000px;
  max-width: 75%;
  display: block;
  padding: 20px;
  margin-top: 50px;
  font-size: 20px;
  border-radius: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background: white;
 }
 .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: black;
  padding-left: 15px;
  padding-right: 15px;
 }
  
 .App-link {
  color: #61dafb;
 }
  
 /*background css*/
 .background{
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  width: 1040px;
  max-width: 80%;
  height: 1000px;
  margin-top: 40px;
  
 }
  
 .input{
  padding-top: 25px;
  margin-left: 25px;
  display: block;
  padding-bottom: 25px;
  width: 80%;
 }
 .inputbuttons{
  width: 200px;
  height: 25px;
  margin-top: 20px;
  margin-left: 20px;
 }
 .description{
  margin-top: 25px;
  width: 750px;
  background-color: #d1d1d1;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  border-radius:15px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align:center;
  text-align: left;
 }
  
 .divider{
  border-bottom: 2px solid black;
 }
 .descriptiontext{
  margin-left: 50px;
 }
 